
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}


h1 {
    color: #777;
    text-align: center;
}


form p {
    margin: 10px 0;
    font-size: 1.1em;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1%;
    padding: 8px;
    font-size: 1em;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-sizing: border-box;
}

#login-text{
    margin-top: 0;
    margin-left: 3px;
    font-size: 0.8em;
    text-align: left;
}

form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
    width: 40%;
    margin: 0 auto;
    text-align: right;
}

#login-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

#login-text a:hover {
    text-decoration: underline;
}

#auth_button_back {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: left;
    float: left;
}

#back-button {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    margin-top: 2%;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center; 
    float: left; 
}

#back-button:hover {
    background-color: #777; 
}

.button-container {
    text-align: left; 
}


#auth_button_back:hover {
    background-color: #777;
}


form button {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    margin-top: 2%;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    align-self: flex-end;
}

form button:hover {
    background-color: #777;
}


form a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

form a:hover {
    color: #777;
}


p {
    text-align: center;
}

p.success {
    color: green;
    font-size: 1em;
}

p.error {
    color: red;
    font-size: 1em;
}

hr {
    margin: 20px 0;
}


ul.validation-errors {
    color: red;
    font-size: 0.9em;
    padding-left: 20px;
}


footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
    color: #666;
}
